- comments.each do |comment|
  %li.list-group-item
    .user__comment-container
      .user__comment-ref
        = simple_format comment.body
        = comment.updated_at
      - if comment.user == current_user
        = link_to 'javascript:void(0)', class: 'js-comment-edit' do
          = fa_icon('pencil')
        .user__comment-edit
          = simple_form_for([user, post, comment], remote: true) do |f|
            .form-inputs
              = f.input :body, label: false
              = comment.updated_at
            .form-actions
              = f.button :submit, '更新'
              .pull-right
                = link_to '削除', user_post_comment_path(user, post, comment), remote: true, method: :delete, data: {confirm: '削除しますか？'}

