!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title N2jkAcademy2
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .header.navbar.navbar-default.navbar-static-top
      .container-fluid
        .navbar-header
          %a.navbar-brand.logo{href: "/"}
            = image_tag 'n2jkAcademy-logo.png'
          -if user_signed_in?
            %ul.nav.navbar-nav{style: 'margin-left: 50px'}
              %li
                %button.btn.btn-success.btn-lg.navbar-btn{data: {target: '#post-modal', toggle: 'modal'}}
                  = fa_icon('pencil-square-o', text: '週報を書く')
        .navbar-header.navbar-right
          %ul.nav.navbar-nav
            -if user_signed_in?
              %li.dropdown#menu1
                %a.dropdown-toggle{href: '/', 'data-toggle' => 'dropdown'}
                  = current_user.name
                  %b.caret
                  %ul.dropdown-menu
                    %li
                      %a{data: {target: '#user-modal', toggle: 'modal'}}
                        = fa_icon 'cog'
                        アカウント設定
                    %li= link_to fa_icon('sign-out', text: 'ログアウト'), signout_path, method: :delete
    =yield